# # Ignore all files in the node_modules directory
node_modules/

# Ignore all build output
build/
dist/
out/
*.js
*.d.ts

# Ignore all TypeScript declaration files
*.d.ts

# Ignore all CSS files
*.css

# Ignore all SCSS files
*.scss

# Ignore all images
*.jpg
*.jpeg
*.png
*.gif
*.svg

# Ignore all font files
*.woff
*.woff2
*.eot
*.ttf
*.otf
