.menu {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  padding: 0.2rem;
  width: 100%;
}

.menu_item {
  display: flex;
  place-items: center;
  place-content: flex-start;
  width: 100%;
  color: #000;
  position: relative;

  &:not(.divider) {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    width: calc(100% - 0.25rem);
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }

  &::after:not(:last-child) {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000;
    opacity: 0.2;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.divider {
  margin: 0.5rem 0;
  background: #e2e2e2;
  width: 100%;
  height: 1px;
  padding: 0;
  border: 0;
}

.icon {
  width: var(--rc-context-menu-icon-size, 1.2rem);
  height: var(--rc-context-menu-icon-size, 1.2rem);
  display: flex;
  place-items: center;
  margin-right: 0.25rem;
  color: var(--rc-context-menu-primary);

  svg {
    width: 100%;
    height: 100%;
  }
}
