.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.1rem;
  place-items: flex-start;
  width: 100%;
}

.toolbar_wrapper {
  margin: 0.2rem 0;
  width: 100%;
}

.menu_wrapper {
  margin: 0.5rem 0;
  width: 100%;
}

.menu {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  place-items: flex-start;
  width: 100%;
}

.menu_item {
  color: #000;
  display: flex;
  place-content: flex-start;
  place-items: center;
  position: relative;
  width: 100%;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &::after:not(:last-child) {
    background: #000;
    content: "";
    display: block;
    height: 1px;
    opacity: 0.2;
    position: absolute;
    width: 100%;
  }

  &:hover {
    background: var(--rc-context-menu-item-hover-color);
    border-radius: 2px;
  }

  &:not(.divider) {
    padding-bottom: 0.2rem;
    padding-left: 0.25rem;
    padding-top: 0.2rem;
    width: calc(100% - 0.25rem);
  }
}

.divider {
  background: var(--rc-context-menu-divider);
  border: 0;
  height: 1px;
  margin: 0.5rem 0;
  padding: 0;
  width: 100%;
}

.icon {
  color: var(--rc-context-menu-primary);
  display: flex;
  height: var(--rc-context-menu-icon-size, 1.2rem);
  margin-right: 0.5rem;
  place-items: center;
  width: var(--rc-context-menu-icon-size, 1.2rem);

  svg {
    height: 100%;
    width: 100%;
  }
}

.label {
  color: var(--rc-context-menu-color);
  display: flex;
  font-size: var(--rc-context-menu-font-size);
  overflow: hidden;
  place-items: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
}
