.wrapper {
  display: flex;
  place-items: center;

  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  color: #000;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  background: var(--rc-popup-background);
  padding: 0.5rem;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent; /* Adjust the size as needed */
  border-bottom: 10px solid transparent; /* Adjust the size as needed */
  border-left: 10px solid var(--rc-popup-background); /* Adjust the color and height as needed */
  position: absolute;

  &.left,
  &.right {
    top: 50%;
    transform: translateY(-50%);
  }

  &.top,
  &.bottom {
    left: 50%;
    transform: translateX(-50%);
  }

  &.left {
    right: -10px;
  }

  &.right {
    left: -10px;
    transform: rotate(-180deg);
  }

  &.top {
    top: -10px;
  }

  &.bottom {
    bottom: -10px;
  }
}
