.toolbar {
    display: flex;
    place-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.toolbar_item {
    margin: 0 0.1rem;
    display: flex;
    place-items: center;
}

.icon {
    display: flex;
    place-items: center;
    width: var(--rc-context-menu-icon-size);
    height: var(--rc-context-menu-icon-size);
    color: var(--rc-context-menu-primary);
    margin-right: 0.5rem;
    background: var(--rc-context-menu-primary);
    padding: 0.25rem;
    border-radius: 50%;
    color: #fff;
}

.icon svg {
    width: 100%;
    height: 100%;
}